<div class="card mt-3">
    <div class="card-header">Atnaujinti duomenis</div>
    <div class="card-body">
        <form #f="ngForm">
            <div class="mb-3">
                <label for="" class="form-label">Vardas</label>
                <input type="text" class="form-control" name="name" value="" ngModel [(ngModel)]="name">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Pavarde</label>
                <input type="text" class="form-control" name="surname" value="" ngModel [(ngModel)]="surname">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Telefono numeris</label>
                <input type="text" class="form-control" name="phone" value="" ngModel [(ngModel)]="phone">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Elektroninio pasto adresas</label>
                <input type="text" class="form-control" name="email" value="" ngModel [(ngModel)]="email">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Adresas</label>
                <input type="text" class="form-control" name="address" value="" ngModel [(ngModel)]="address">
            </div>
            <button class="btn btn-success" type="submit">Pridėti</button>
        </form>

    </div>
</div>